.color_cluster1 {
    color: #FF0088;
}

.color_cluster2 {
    color: #FF0000;
}

.color_cluster3 {
    color: #FF5511;
}

.color_cluster4 {
    color: #FF8800;
}

.color_cluster5 {
    color: #FFBB00;
}

.color_cluster6 {
    color: #FFFF00;;
}

.color_cluster7 {
    color: #BBFF00
}

.color_cluster8 {
    color: #77FF00;
}

.color_cluster9 {
    color: #00FF00;
}

.color_cluster10 {
    color: #00FF99;
}

.color_cluster11 {
    color: #00FFCC;
}

.color_cluster12 {
    color: #00FFFF;
}

.color_cluster13 {
    color: #00BBFF;
}

.color_cluster14 {
    color: #0066FF;
}

.color_cluster15 {
    color: #0000FF;
}

.color_cluster16 {
    color: #5500FF;
}

.color_cluster17 {
    color: #7700FF;
}

.color_cluster18 {
    color: #9900FF;
}

.color_cluster19 {
    color: #CC00FF;
}

.color_cluster20 {
    color: #FF00FF;
}

.color_up {
    color: #DD2200;
}

.color_down {
    color: #009933;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height:50px;   /* footer的高度一定要是固定值*/
    position:absolute;
    bottom:0px;
    left:0px;
}


