{% extends "bootstrap/base.html" %}
{% block title %}团赢数据{% endblock %}


{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="/static/css/industry.css" />
{% endblock styles %}


{% block navbar %}
{% include "navigation.html" %}
{% endblock navbar %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block page_content %}{% endblock %}

    <!-- Copyright -->
    <!--<footer class="container-fluid navbar-fixed-bottom">-->
    <footer class="footer">
    <div class="container text-center">Copyright &copy; 2018
        <a href="http://www.twelvewin.com/">团赢数据</a> All Rights Reserved.
    </div>
    </footer>

</div>
{% endblock %}


<!-- Copyright -->
{% block scripts %}

    {{ super() }}
    <script type="text/javascript">
    $(document).ready(function(){
    });
    </script>
{% endblock %}