<!-- Navigation -->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.home') }}">团赢数据</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">基本面分析<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <a href="{{ url_for('stock.list_stock', path="pe") }}">市盈率排行</a></li>
            <li> <a href="{{ url_for('stock.list_stock', path="pb") }}">市净率排行</a></li>
            <li> <a href="{{ url_for('stock.list_stock', path="roe") }}">净资产收益率排行</a></li>
            <li> <a href="{{ url_for('stock.list_stock', path="divi") }}">现金股息率排行</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">技术面分析<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <a href="{{ url_for('technical_analysis.index', path="filter") }}">涨跌幅分析</a></li>
            <li> <a href="{{ url_for('technical_analysis.index', path="highest") }}">创历史新高</a></li>
            <li> <a href="{{ url_for('technical_analysis.index', path="lowest") }}">创历史新低</a></li>
            <li> <a href="{{ url_for('technical_analysis.index', path="ma_long") }}">均线多头</a></li>
            <li> <a href="{{ url_for('technical_analysis.index', path="break_ma") }}">突破均线</a></li>
            <li> <a href="{{ url_for('technical_analysis.index', path="above_ma") }}">年线之上</a></li>
          </ul>
        </li>
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">交易策略分析<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <a href="{{ url_for('strategy_analysis.index') }}">历史新高策略</a></li>
            <li> <a href="{{ url_for('strategy_analysis.index') }}">均线多头策略</a></li>
            <li> <a href="{{ url_for('strategy_analysis.index') }}">突破均线策略</a></li>
          </ul>
        </li>
        -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">板块分析<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <a href="{{ url_for('cluster.index', path="sz50") }}">上证50</a></li>
            <li> <a href="{{ url_for('cluster.index', path="hs300") }}">沪深300</a></li>
            <li> <a href="{{ url_for('cluster.index', path="zz500") }}">中证500</a></li>
            <li> <a href="{{ url_for('cluster.index', path="all") }}">全部股票</a></li>
          </ul>
        </li>
        <li> <a href="{{ url_for('industry_analysis.index') }}">行业分析</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">年度报告<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <a href="{{ url_for('annual_report.index', path="2018") }}">2018</a></li>
          </ul>
        </li>
        <li> <a href="{{ url_for('stock.list_stock', path="business") }}">精选股票</a></li>
        <li> <a href="{{ url_for('self_selected_stock.index') }}">自选股</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--
        {% if current_user.confirmed and current_user.is_authenticated %}
          <li><a href="{{ url_for('user.profile') }}">{{ current_user.username }}</a></li>
        {% elif current_user.is_authenticated %}
          <li><a href="{{ url_for('user.unconfirmed') }}">确认</a></li>
        {% endif %}
        -->
        {% if current_user.is_authenticated %}
          <li><a href="#">欢迎您, {{ current_user.email }}</a></li>
          <li><a href="{{ url_for('user.logout') }}">退出</a></li>
        {% else %}
          <li><a href="{{ url_for('user.register') }}">注册</a></li>
          <li><a href="{{ url_for('user.login') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;登录</a></li>
        {% endif %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
